@use "../../styles/spacings" as *;

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: $x5;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--n500);
}
